<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 
        <%= title %>
    </title>
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/tablestyle.scss"/>
</head>

<body>
    <div class="timetable">
        <div class="week-names">
          <div>monday</div>
          <div>tuesday</div>
          <div>wednesday</div>
          <div>thursday</div>
          <div>friday</div>
          <div class="weekend">saturday</div>
          <div class="weekend">sunday</div>
        </div>
        <div class="time-interval">
          <div>8:00 - 10:00</div>
          <div>10:00 - 12:00</div>
          <div>12:00 - 14:00</div>
          <div>14:00 - 16:00</div>
          <div>16:00 - 18:00</div>
          <div>18:00 - 20:00</div>
        </div>
        <div class="content">
          <div>
            <div class="accent-orange-gradient"></div>
          </div>
          <div></div>
          <div></div>
          <div></div>
              <div>
            <div class="accent-green-gradient"></div>
          </div>
          <div class="weekend"></div>
          <div class="weekend"></div>
          <div></div>
          <div></div>
          <div></div>
          <div>
            <div class="accent-cyan-gradient"></div>
          </div>
          <div></div>
          <div class="weekend"></div>
          <div class="weekend"></div>
          <div>
            <div class="accent-pink-gradient"></div>
          </div>
          <div></div>
          <div>
            <div class="accent-purple-gradient"></div>
          </div>
          <div></div>
          <div></div>
          <div class="weekend"></div>
          <div class="weekend"></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div class="weekend"></div>
          <div class="weekend"></div>
          <div>
            <div class="accent-purple-gradient"></div>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div class="weekend"></div>
          <div class="weekend"></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div class="weekend"></div>
          <div class="weekend"></div>
        </div>
      </div>

</body>
<script>
    
</script>