<%- include('./head.ejs') %>

<body>
    <div
        class="text-center text-primary"
        id="success"
        style="margin-top: 20%; display: none"
    >
        <h1>Account activated. Redirecting you to login page.</h1>
    </div>

    <div
        class="text-center text-primary"
        id="err"
        style="margin-top: 20%; display: none"
    >
        <h1>Invalid token. Redirecting you to login page.</h1>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    function submitInfo() {
        const options = {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            },
        };
        let url = window.location.href;
        token = url.split("token=")[1];
        console.log(token);
        fetch(
            "http://127.0.0.1:5555/api/users/activate-account/" + token,
            options
        ).then(async (data) => {
            if (data.status == "200") {
                document.getElementById("success").style.display = "block";
                setTimeout(() => window.location.replace("/"), 3000);
            } else {
                document.getElementById("err").style.display = "block";
                setTimeout(() => window.location.replace("/"), 3000);
            }
        });
    }
    submitInfo();
</script>
