<%- include('./head.ejs') %>

<body>
    <div class="container text-center" style="width: 1000px">
        <div class="text-center text-primary" style="margin-top: 120px">
            <h1>Welcome to CUBRO</h1>
        </div>

        <!-- Email input -->
        <div class="row justify-content-md-center" style="margin-top: 80px">
            <div class="col"></div>

            <div class="col-5">
                <div class="form-outline mb-4">
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        required
                    />

                    <label class="form-label" for="email"
                        ><i class="fas fa-envelope"></i> Email Address</label
                    >
                </div>
            </div>

            <div class="col"></div>
        </div>

        <!-- Password input -->
        <div class="row justify-content-md-center">
            <div class="col"></div>

            <div class="col-5">
                <div class="input-group form-outline mb-4">
                    <input type="password" class="form-control" />
                    <label class="form-label" for="password"
                        ><i class="fas fa-key"></i> Password</label
                    >
                    <div class="vr vr-blurry"></div>
                    <a
                        class="btn text-muted small shadow-0"
                        style="padding-top: 12px"
                        href="./forget"
                        >Forgot?</a
                    >
                </div>
            </div>

            <div class="col"></div>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row justify-content-md-center">
            <div class="col"></div>
            <!-- Rememberme Checkbox -->
            <div class="col-2 pt-1">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="rememberme"
                    checked
                />
                <label class="form-check-label" for="rememberme">
                    Remember me
                </label>
            </div>
            <!-- Submit button -->
            <div class="col-2">
                <a
                    class="btn btn-primary btn-block shadow-0 mb-4"
                    id="signin"
                    href="/"
                    >Sign in</a
                >
            </div>
            <div class="col"></div>
        </div>

        <!-- Register button -->
        <div class="text-center">
            <p class="mb-1">Not a member?</p>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a
                        class="btn btn-block btn-secondary"
                        id="register"
                        href="./register"
                        >Register</a
                    >
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <!-- MDB -->
</body>

<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
>

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach((form) => {
        form.addEventListener('submit', (event) => {
            form.checkValidity()
            event.preventDefault();
            event.stopPropagation();
        form.classList.add('was-validated');
        }, false);
    });
    })();

    // Submit data to login
    $(document).ready(()=>{
        $("#signin").click(()=>{
            if($('#email').val() === '' || $('#password').val() == ''){
                return;
            }
            var data={};
        });

    });
</script>
