<%- include('./nav.ejs') %>
<div class="container">
    <div class="row">
        <ul
        class="list-group list-group-light justify-content-center border my-3"
        id="courseList"
        ></ul>
    </div>
    <div class="row">
        <div>
            <!-- <button type="button" class="btn btn-primary" id="valid">Validate</button> -->
            <button type="button" class="btn btn-primary" id="submit" onclick="getCheckedIds()"  data-toggle="modal" data-target="#exampleModal">Select</button>
            <button type="button" class="btn btn-link" data-mdb-ripple-color="dark" id="reset" onclick="deselectCheckboxes()">Reset</button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirmation: Course Selection</h5>
			</div>
			<div class="modal-body">
				<ul class="list-group list-group-light justify-content-center border" id="selection">
					
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-success" id="confirm-select" onclick="select()">Confirm</button>
			</div>
		</div>
	</div>
</div>

<script>
    $(document).ready(function () {
		$(".loader").hide();
		load();
	});
	var courses = {};

	function load() {
		$("#courseList").hide();
		$(".loader").show();
		fetch("/api/courses/myCourse")
			.then((response) => response.json())
			.then((res) => {
                let HTMLString = '';
                for (let c of res){
                    if(!c.selected){
						let course = c.courseID;
						courses[c.courseID._id] = course;
                        HTMLString += `
                            <li class="list-group-item d-flex justify-content-between align-items-center ps-4">
                                <div class="form-check col-1">
                                    <input class="form-check-input" type="checkbox" value="" id="c-${course._id}" />
                                </div>
                                <div class="col-5">
                                    <div class="fw-bold">${course.courseCode}</div>
                                    <div class="text-muted">${course.courseName}</div>
                                </div>
                                <div class="col-4">
                                    <div class="fw-light fst-italic">${course.department}</div>
                                    <div class="fst-italic">${course.instructor}</div>
                                </div>
                                <a class="btn btn-link col-2" data-mdb-ripple-color="dark" href="/internal/course/info/${course._id}">Info</a>
                            </li>
                            `;
                    }
                }
               
                if (HTMLString == '') {
                    HTMLString = '<li class="list-group-item d-flex justify-content-between align-items-center ps-4">No courses selected!</li>';
                }
                $('#courseList').html(HTMLString);
                $('.loader').hide();
                $('#courseList').show();
			});
	}

    var checkedIds = [];
    function getCheckedIds() {
        let arr = []
        $('input[id^="c-"]:checked').each(function() {
            arr.push($(this).attr('id').split('-').pop());
        });
        checkedIds = arr;
        let HTMLString = '';
        if(arr.length > 0) {
            for (let id of arr){
                let course = courses[id];
                HTMLString += `
                    <li class="list-group-item d-flex justify-content-between align-items-center ps-4">
                        <div class="col-8">
                            <div class="fw-bold">${course.courseCode}</div>
                            <div class="text-muted">${course.courseName}</div>
                        </div>
                        <div class="col-4">
                            <div class="fw-light fst-italic">${course.department}</div>
                            <div class="fst-italic">${course.instructor}</div>
                        </div>
                    </li>
                    `;
            }
            $('#confirm-select').prop("disabled", false);
        }else{
            $('#confirm-select').prop("disabled", true);
        }
        $('#selection').html(HTMLString);
    }

    function deselectCheckboxes() {
        const checkboxes = document.querySelectorAll('[id^="c-"]');
        checkboxes.forEach(checkbox => checkbox.checked = false);
    }

    function select(){
        fetch('/api/courses/select' ,
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({courses:checkedIds, select: true}),
			}).then(res=>res.json()).then(res=>{
                if (res.status == 500) {
                    alert(res.message);
                    location.reload();
                } else {
                    alert("Course selected successfully");
                    location.replace('/internal/table');
                }
            })
    }
</script>
<%- include('./nav_end.ejs') %>