<%- include('./nav.ejs') %>

    <div class="container w-50">
        <div class="container pt-4 pb-1">
            <div class="d-flex row justify-content-center pt-3 pb-0 px-5 ">
                <div class="">
                    <div class="input-group ">
                        <div class="form-outline border ">
                            <input type="search" id="form1" class="form-control" name="form1" />
                            <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                </div>
            </div>
            <div class="d-flex row justify-content-center pt-0 pb-0 px-5 ">
                <div class="row ">
                    <a type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample" style="text-align:right;">
                        Advance Search With Filters <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <div class="pb-2 row">
                            <div class="col-6">
                                <div class="form-outline border ">
                                    <input type="search" id="instructor" class="form-control" name="form1" />
                                    <label class="form-label" for="form1">Instructor</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <select class="form-select" aria-label="Default select example" id="dept">
                                    <option value="*" selected>Any Department</option>
                                    <%for (let dept of departments){%>
                                        <option value="<%=dept%>">
                                            <%=dept%>
                                        </option>
                                        <%}%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row d-flex justify-content-center">
            <div class="loader"></div>
            <ul class="list-group list-group-light justify-content-center border mb-3" id="courseList">
            </ul>
            <div class="row justify-content-end">
                <div class="col-4">
                    <span style="display:inline">
                        showing
                    </span>
                    <select class="form-select" aria-label="Default select example" id="limit"
                        style="display:inline; width: 30%;">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                    <span style="display:inline">
                        entries
                    </span>
                </div>
            </div>
        </div>

        <style>
            .loader {
                border: 16px solid #f3f3f3;
                /* Light grey */
                border-top: 16px solid #3498db;
                /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>

        <script>
            $(document).ready(function () {
                $('.loader').hide();
                load()
            });

            var courses = {};

            function load() {
                $('#courseList').hide();
                $('.loader').show();
                fetch('/api/courses/browse?' + new URLSearchParams({
                    keyword: $('#form1').val(),
                    department: $('#dept').val(),
                    instructor: $('#instructor').val(),
                    limit: $('#limit').val(),
                })).then(response => response.json())
                    .then((res) => {
                        let HTMLString = '';
                        courses = {};
                        for (const course of res) {
                            courses[course._id] = course;
                            HTMLString += `
                        <li class="list-group-item d-flex justify-content-between align-items-center ps-4">
                            <div class="col-6">
                                <div class="fw-bold">${course.courseCode}</div>
                                <div class="text-muted">${course.courseName}</div>
                            </div>
                            <div class="col-4">
                                <div class="fw-light fst-italic">${course.department}</div>
                                <div class="fst-italic">${course.instructor}</div>
                            </div>
                            <a class="btn btn-link col-2" data-mdb-ripple-color="dark" href="/internal/course/info/${course._id}">More Info</a>
                        </li>
                        `;
                        }
                        if (HTMLString == '') {
                            HTMLString = '<li class="list-group-item d-flex justify-content-between align-items-center ps-4">No courses found!</li>';
                        }
                        $('#courseList').html(HTMLString);
                        $('.loader').hide();
                        $('#courseList').show();
                    })
            }

            $('#form1').change(() => {
                load()
            })
            $('#dept').change(() => {
                load()
            })
            $('#instructor').change(() => {
                load()
            })
            $('#limit').change(() => {
                load()
            })

            var checkedIds = [];
            $('#add').click(() => {
                checkedIds = [];
                let HTMLString = '';
                $('.select-course:checked').each(function () {
                    checkedIds.push($(this).attr('id'));
                });
                for (let id of checkedIds) {
                    course = courses[id];
                    if (course) {
                        HTMLString += `
                        <li class="list-group-item d-flex justify-content-between align-items-center ps-4">
                            <div class="col-8">
                                <div class="fw-bold">${course.courseCode}</div>
                                <div class="text-muted">${course.courseName}</div>
                            </div>
                            <div class="col-4">
                                <div class="fw-light fst-italic">${course.department}</div>
                                <div class="fst-italic">${course.instructor}</div>
                            </div>
                        </li>
                        `;
                    }
                }
                if (HTMLString == '') {
                    HTMLString = '<li class="list-group-item d-flex justify-content-between align-items-center ps-4">No courses selected!</li>';
                    $('#confirm-add').prop("disabled", true);
                } else {
                    $('#confirm-add').prop("disabled", false);
                }
                $('#shoppingcart').html(HTMLString);
                // console.log(courses);
            });
        </script>
        </body>