<%- include('./nav.ejs') %>

    <div class="container pt-4 pb-5">
        <div class="row pt-5 justify-content-center w-75 me-0">
            <div class="col form-check form-check-inline d-flex justify-content-center p-0">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="option1" />
                <label class="form-check-label" for="option1"> By Course Code </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center p-0">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="option2" />
                <label class="form-check-label" for="option2"> By Course Name </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center p-0">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="option3" />
                <label class="form-check-label" for="option3"> By Timeslot </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center p-0">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="option4" />
                <label class="form-check-label" for="option3"> By Department </label>
            </div>
        </div>
        <div class="d-flex row justify-content-center pt-3 pb-4">
            <div class="input-group w-50 ">
                <div class="form-outline border ">
                    <input type="search" id="form1" class="form-control" name="form1" />
                    <!-- <label class="form-label" for="form1">Search</label> -->
                </div>
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="loader"></div>
        <ul class="list-group list-group-light justify-content-center w-50 border" id="courseList">

        </ul>
    </div>

    <div class="d-flex row justify-content-center pt-3 pb-4">
        <button type="button" class="btn btn-primary w-25 me-3">Add to cart</button>
        <button type="button" class="btn btn-secondary w-25 ms-3">Clear</button>
    </div>
    </div>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.loader').hide();
            load()
        });

        function load() {
            $('#courseList').hide();
            $('.loader').show();
            fetch('/api/courses/browse?' + new URLSearchParams({
                keyword: $('#form1').val()
            })).then(response => response.json())
                .then((res) => {
                    let HTMLString = '';
                    for (const course of res) {
                        HTMLString += `
                        <li class="list-group-item d-flex justify-content-between align-items-center ps-4">
                            <div class="form-check col-2">
                                <input class="form-check-input" type="checkbox" value="" id="${course._id}"/>
                            </div>
                            <div class="col-6">
                                <div class="fw-bold">${course.courseCode}</div>
                                <div class="text-muted">${course.courseName}</div>
                            </div>
                            <a class="btn btn-link col-3" data-mdb-ripple-color="dark" href="/internal/course/info/${course._id}">More Info</a>
                        </li>
                        `;
                    }
                    $('#courseList').html(HTMLString);
                    $('.loader').hide();
                    $('#courseList').show();
                })
        }

        $('#form1').change(() => {
            load()
        })
    </script>