<%- include('./head.ejs') %>

<body>
    <div
        class="alert alert-danger fade show text-center"
        id="err"
        style="display: none; border-radius: 0"
    ></div>
    <div
        class="alert alert-success fade show text-center"
        id="success"
        style="display: none; border-radius: 0"
    >
        Register successful, please check your email to activate your account.
        Redirecting you to login page.
    </div>
    <div class="container text-center" style="width: 65%">
        <div class="text-center text-primary" style="margin-top: 10%">
            <h1>Sign up now</h1>
        </div>
        <form class="requires-validation" id="registerForm" novalidate>
            <!-- Name input -->
            <div class="row justify-content-md-center" style="margin-top: 3%">
                <div class="col"></div>
                <div class="col-3">
                    <div class="form-outline mb-3 mt-3">
                        <input
                            type="text"
                            id="firstname"
                            class="form-control needs-validation"
                            oninput="checkEmptyInput(this)"
                            required
                        />
                        <label class="form-label" for="firstname"
                            >*First Name</label
                        >
                        <div class="invalid-feedback">Required</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-outline mb-3 mt-3">
                        <input
                            type="text"
                            id="lastname"
                            class="form-control needs-validation"
                            required
                            oninput="checkEmptyInput(this)"
                        />
                        <label class="form-label" for="lastname"
                            >*Last Name</label
                        >
                        <div class="invalid-feedback">Required</div>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <!-- Nickname and gender input -->
            <div class="row justify-content-md-center">
                <div class="col"></div>
                <div class="col-3">
                    <div class="form-outline mb-3 mt-3">
                        <input type="text" id="nickname" class="form-control" />
                        <label class="form-label" for="nickname"
                            >Nickname</label
                        >
                    </div>
                </div>
                <div class="col-1">
                    <label class="form-label mb-3 mt-4" for="gender"
                        >Gender:</label
                    >
                </div>
                <div class="col-2">
                    <select
                        class="form-select mb-3 mt-3"
                        id="gender"
                        style="border-radius: 4px; height: 35.81px"
                    >
                        <option value="">None</option>
                        <option value="male">M</option>
                        <option value="female">F</option>
                    </select>
                </div>
                <div class="col"></div>
            </div>

            <!-- Email input -->
            <div class="row justify-content-md-center">
                <div class="col"></div>
                <div class="col-6">
                    <div class="form-outline mb-3 mt-3 needs-validation">
                        <input
                            type="email"
                            id="email"
                            class="form-control needs-validation"
                            required
                            pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4})(\]?)$"
                        />
                        <label class="form-label" for="email">*Email</label>
                        <div class="invalid-feedback">
                            Email format does not match
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <!-- Password input -->
            <div class="row justify-content-md-center">
                <div class="col"></div>
                <div class="col-6">
                    <div class="form-outline mb-3 mt-3">
                        <input
                            type="password"
                            id="password"
                            class="form-control needs-validation"
                            autocomplete="off"
                            minlength="8"
                            required
                        />
                        <label class="form-label" for="password"
                            >*Password (must be at least 8 characters
                            long)</label
                        >
                        <div class="invalid-feedback">Password invalid</div>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <!-- Password Validation input -->
            <div class="row justify-content-md-center">
                <div class="col"></div>
                <div class="col-6">
                    <div class="form-outline mb-4 mt-3">
                        <input
                            type="password"
                            id="confirmPassword"
                            class="form-control needs-validation"
                            minlength="8"
                            required
                        />
                        <label class="form-label" for="password"
                            >*Confirm Password</label
                        >
                        <div class="invalid-feedback">
                            Password does not match
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <!-- Submit button -->
            <div class="row">
                <div class="col"></div>
                <div class="col-3">
                    <button
                        type="button"
                        class="btn btn-primary btn-block mb-4 mt-2"
                        id="submitbutton"
                    >
                        Sign up
                    </button>
                    <a href="./" class="row justify-content-center"
                        >Already have an account?</a
                    >
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</body>
<!-- MDB -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        "use strict";
        const forms = document.querySelectorAll(".requires-validation");

        Array.from(forms).forEach(function (form) {
            document.getElementById("submitbutton").addEventListener(
                "click",
                function (event) {
                    if (
                        document.getElementById("confirmPassword").value !=
                        document.getElementById("password").value
                    ) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        const update = {
                            fullName:
                                document.getElementById("firstname").value +
                                document.getElementById("lastname").value,
                            nickname: document.getElementById("nickname").value,
                            email: document.getElementById("email").value,
                            contactNumber: "98761234",
                            password: document.getElementById("password").value,
                        };

                        const options = {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify(update),
                        };
                        function submitInfo() {
                            fetch(
                                "/api/users/register",
                                options
                            ).then(async (data) => {
                                if (data.status == "200") {
                                    document.getElementById(
                                        "submitbutton"
                                    ).disabled = true;
                                    document.getElementById(
                                        "err"
                                    ).style.display = "none";
                                    document.getElementById(
                                        "success"
                                    ).style.display = "block";
                                    setTimeout(
                                        () =>
                                            window.location.replace(
                                                "/"
                                            ),
                                        5000
                                    );
                                } else {
                                    let res = await data.json();
                                    document.getElementById("err").textContent =
                                        res.message;
                                    document.getElementById(
                                        "err"
                                    ).style.display = "block";
                                }
                            });
                        }
                        submitInfo();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();

    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirmPassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    function checkEmptyInput(input) {
        if (input.value == "") {
            input.classList.remove("is-valid");
            input.classList.add("is-invalid");
        } else {
            input.classList.remove("is-invalid");
            input.classList.add("is-valid");
        }
    }
</script>
