<%- include('./head.ejs') %>

<body>
    <div
        class="alert alert-danger fade show text-center"
        id="err"
        style="display: none; border-radius: 0"
    ></div>
    <div
        class="alert alert-success fade show text-center"
        id="success"
        style="display: none; border-radius: 0"
    >
        Password reset, please use your new password to login. Redirecting you
        to login page.
    </div>
    <form class="requires-validation" id="form" novalidate>
        <h1 class="text-primary text-center mb" style="margin-top: 12%">
            Password reset
        </h1>
        <div class="row justify-content-md-center">
            <div class="col"></div>
            <div class="col-6">
                <!-- new password input -->
                <div class="row justify-content-md-center">
                    <div class="col-9">
                        <div class="form-outline mb-3 mt-3">
                            <input
                                type="password"
                                id="password"
                                class="form-control needs-validation"
                                autocomplete="off"
                                minlength="8"
                                required
                            />
                            <label class="form-label" for="password"
                                >*Enter your new password here (must be at least
                                8 characters long)</label
                            >
                            <div class="invalid-feedback">Password invalid</div>
                        </div>
                    </div>
                </div>
                <!-- new password conformation  -->
                <div class="row justify-content-md-center">
                    <div class="col-9">
                        <div class="form-outline mb-4 mt-3">
                            <input
                                type="password"
                                id="confirmPassword"
                                class="form-control needs-validation"
                                minlength="8"
                                required
                            />
                            <label class="form-label" for="password"
                                >*Confirm password</label
                            >
                            <div class="invalid-feedback">
                                Password does not match
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="row justify-content-md-center">
                    <div class="col"></div>
                    <div class="col-6 text-center">
                        <button
                            class="btn btn-primary btn-block mb-4"
                            id="reset"
                            type="button"
                        >
                            Reset password
                        </button>
                        <a href="/">Return to login</a>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <!-- Password Validation input -->
    </form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    // setTimeout(() => window.location.replace("/"),3000);

    (function () {
        "use strict";
        const forms = document.querySelectorAll(".requires-validation");

        Array.from(forms).forEach(function (form) {
            document.getElementById("reset").addEventListener(
                "click",
                function (event) {
                    if (
                        document.getElementById("confirmPassword").value !=
                        document.getElementById("password").value
                    ) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        const update = {
                            password: document.getElementById("password").value,
                        };

                        const options = {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify(update),
                        };
                        function submitInfo() {
                            let url = window.location.href;
                            let token = url.split("token=")[1];
                            fetch(
                                "/api/users/reset-password/" +
                                    token,
                                options
                            ).then(async (data) => {
                                if (data.status == "200") {
                                    document.getElementById(
                                        "reset"
                                    ).disabled = true;
                                    document.getElementById(
                                        "success"
                                    ).style.display = "block";
                                    setTimeout(
                                        () => window.location.replace("/"),
                                        3000
                                    );
                                } else {
                                    document.getElementById(
                                        "reset"
                                    ).disabled = true;
                                    let res = await data.json();
                                    document.getElementById("err").textContent =
                                        res.message +
                                        ", please get a new link from password forget page. Redirecting ...";
                                    document.getElementById(
                                        "err"
                                    ).style.display = "block";
                                    document.getElementById(
                                        "reset"
                                    ).disabled = true;
                                    setTimeout(
                                        () => window.location.replace("/forget"),
                                        3000
                                    );
                                }
                            });
                        }
                        submitInfo();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();

    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirmPassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
